// Responses
mixin where_am_i
  response#where_am_i.
    Où suis-je en ce moment ?

mixin who_are_you
  response#who_are_you.
    J'aimerais mieux te connaître - peux-tu me parler de toi ?

mixin about_robot
  response#about_robot.
    Es-tu un robot ?

mixin about_fun
  response#about_fun.
    Alors, qu'est-ce que tu aimes faire pour t'amuser ?

mixin about_sad
  response#about_sad.
    Je suis désolé d'entendre ça - est-ce que je peux faire quelque chose pour t'aider ?

mixin back_to_main
  response#back_to_main.
    En fait, j'avais d'autres questions.

mixin what_next
  response#what_next.
    Que dois-je faire ensuite ?

mixin about_tq_history
  response#about_tq_history.
    Que pouvez-vous me dire sur l'histoire du programme ?

mixin about_tq_first_operators 
  response#about_tq_first_operators.
    Les premiers agents ? J'aimerais bien les rencontrer un jour.

mixin about_tq_code
  response#about_tq_code.
    Quel est le code de l'agent ?

mixin about_tq_operator
  response#about_tq_operator.
    Quelles sont les fonctions d'un agent ?

mixin about_tq_legacy_systems
  response#about_tq_legacy_systems.
    Que savons-nous des "Anciens systèmes " ?

mixin à propos de_tq_legacy_systems_bolder
  response#about_tq_legacy_systems_bolder.
    Ils deviennent plus audacieux ? Comment cela ?

mixin à propos de_tq_legacy_systems_do
  response#about_tq_legacy_systems_do.
    Qu'avons-nous l'intention de faire à ce sujet ?

mixin about_twilio_what
  response#about_twilio_what.
    Des API de communication vous dites... comme quoi ?

mixin about_twilio_name
  response#about_twilio_name.
    "Twilio" est un nom un peu bizarre - qu'est-ce que cela signifie ?

mixin about_twilio_why
  response#about_twilio_why.
    Pourquoi Twilio créerait-il quelque chose comme TwilioQuest ?

mixin about_world_cloud
  response#about_world_cloud.
    Donc... je suis littéralement dans "Le Cloud" en ce moment ?

mixin about_world_everyone_else
  response#about_world_everyone_else.
    Est-ce que tout le monde sur Internet est aussi dans le Cloud ?

mixin about_world_responsibility
  response#about_world_responsibility.
    C'est regrettable - tout le monde devrait comprendre le Cloud comme nous le faisons.

mixin about_world_space
  response#about_world_space.
    Donc le Cloud est représenté pour moi en utilisant mes modèles mentaux existants... 
    C'est pourquoi le Cloud ressemble à l'espace ?

mixin questions_about_world
  response#questions_about_world.
    Où suis-je en ce moment ?

mixin more_questions_about_world
  response#more_questions_about_world.
    Puis-je demander autre chose à propos du Cloud ?

mixin more_questions_about_twilio
  response#more_questions_about_twilio.
    J'avais d'autres questions sur Twilio.

mixin questions_about_twilio
  response#questions_about_twilio.
    Maintenant que vous le dites... Qu'est-ce qu'un "Twilio" ?

mixin more_questions_about_tq
  response#more_questions_about_tq.
    J'avais d'autres questions sur TwilioQuest.

mixin questions_about_tq
  response#questions_about_tq.
    Pouvez-vous m'en dire plus sur le programme TwilioQuest ?

mixin more_questions_about_you
  response#more_questions_about_you.
    Ça vous dérange si je vous demande autre chose sur vous ?

mixin questions_about_you
  response#questions_about_you.
    J'aimerais mieux vous connaître - pouvez-vous me parler de vous ?

mixin questions_main
  response#questions_main.
    Parlons plutôt d'autre chose.

mixin how_get_here
  response#how_get_here.
    Cela peut sembler être une question stupide, mais pourquoi suis-je ici ?

mixin answer_some_questions
  response#answer_some_questions.
    J'ai encore quelques questions sur tout ça...

conversation(display_name="Cedric")
  case lastResponse
    when "more_questions_about_tq"
    when "questions_about_tq"
      if lastResponse === "more_questions_about_tq"
        statement#about_tq_brief
      else
        statement#about_tq_main
      responses
        +about_tq_history
        +about_tq_operator
        +about_tq_legacy_systems
        +questions_main

    when "about_tq_legacy_systems"
      statement#about_tq_legacy_systems
      responses
        +about_tq_legacy_systems_bolder
        +more_questions_about_tq

    when "about_tq_legacy_systems_bolder"
      statement#about_tq_legacy_systems_bolder
      responses
        +about_tq_legacy_systems_do
        +more_questions_about_tq

    when "about_tq_legacy_systems_do"
      statement#about_tq_legacy_systems_do
      responses
        +about_tq_code
        +more_questions_about_tq

    when "about_tq_first_operators"
      statement#about_tq_first_operators
      responses
        +more_questions_about_tq
        +questions_main

    when "about_tq_history"
      statement#about_tq_history
      responses
        +more_questions_about_tq

    when "about_tq_operator"
      statement#about_tq_operator
      responses
        +about_tq_code
        +more_questions_about_tq

    when "about_tq_code"
      statement#about_tq_code
      responses
        +more_questions_about_tq
        +questions_main

    when "more_questions_about_twilio"
    when "questions_about_twilio"
      if lastResponse === "more_questions_about_twilio"
        statement#about_twilio_brief
      else
        statement#about_twilio_main
      responses
        +about_twilio_what
        +about_twilio_name
        +questions_main

    when "about_twilio_what"
      statement#about_twilio_what
      responses
        +more_questions_about_twilio
        +questions_main

    when "about_twilio_name"
      statement#about_twilio_name
      responses
        +more_questions_about_twilio
        +questions_main

    when "more_questions_about_world"
    when "questions_about_world"
      if lastResponse === "more_questions_about_world"
        statement#about_world_brief
      else
        statement#about_world_main
      responses
        +about_world_cloud
        +about_world_everyone_else
        +questions_main
    
    when "about_world_responsibility"
      statement#about_world_responsibility
      responses
        +more_questions_about_world
        +questions_main

    when "about_world_everyone_else"
      statement#about_world_everyone_else
      responses
        +about_world_responsibility
        +more_questions_about_world
    
    when "about_world_cloud"
      statement#about_world_cloud
      responses
        +about_world_space

    when "about_world_space"
      statement#about_world_space
      responses
        +more_questions_about_world
        +questions_main

    when "about_sad"
      statement(expression="cedricHappy.png")#sad
      responses
        +more_questions_about_you
        +questions_main

    when "about_fun"
      statement(expression="cedricSad.png")#fun
      responses
        +about_sad
        +more_questions_about_you
        +questions_main
    
    when "about_robot"
      statement#robot
      responses
        +more_questions_about_you
        +questions_main

    when "more_questions_about_you"
    when "questions_about_you"
      if lastResponse === "more_questions_about_you"
        statement#about_you_brief
      else
        statement#about_you_main
      responses
        +about_robot
        +about_fun
        +questions_main
    
    when "questions_main"
    when "answer_some_questions"
      if lastResponse === "questions_main"
        statement#questions_main
      else
        statement#questions
      responses
        +questions_about_world
        +questions_about_you
        +questions_about_tq
        +questions_about_twilio
        +back_to_main
    
    when "what_next"
      statement#next
      responses
        +how_get_here
        +answer_some_questions

    when "how_get_here"
      statement#how_get_here
      responses
        +what_next
        +answer_some_questions

    // This is the main conversation menu
    when "back_to_main"
    default
      if lastResponse === "back_to_main"
        statement#main
      else
        statement#default
      responses
        +what_next
        +how_get_here
        +answer_some_questions

  statements
    statement#about_tq_brief
      text.
        Oui, agent. Que voulez-vous savoir ?

    statement#about_tq_main
      text.
        Le programme #[span.highlight TwilioQuest] est une organisation top-secrète 
        dédiée à l'exploration et à la sauvegarde de la frontière sauvage du Cloud.
        #Les agents du programme TwilioQuest - des personnes comme vous - sont à
        l'avant-garde de cette importante mission.

    statement#about_tq_legacy_systems
      text.
        Malheureusement, nous savons très peu de choses sur les plans spécifiques et les membres de
        les #[span.red Legacy Systems]. Nous savons qu'il s'agit d'un vaste réseau de 
        d'individus puissants, cherchant toujours à protéger leurs richesses amassées et leur 
        influence. Jusqu'à récemment, ils se contentaient d'agir dans l'ombre.
        Maintenant, leurs opérations deviennent plus audacieuses et plus effrontées chaque jour.

    statement#about_tq_legacy_systems_bolder
      text.
        Il semble qu'il ne se passe pas un jour sans qu'il y ait une nouvelle faille de sécurité, une campagne de désinformation sur les médias sociaux ou un abus d'accès privilégié aux données.
        Ces actes peuvent sembler aléatoires, mais nos renseignements indiquent qu'ils sont liés. Nous
        croyons que ce n'est que le début d'une offensive plus large par les 
        #[span.red Legacy Systems].

    statement#about_tq_legacy_systems_do
      text.
        Nous répondrons en grossissant les rangs des #[span.highlight Agents].
        Plus nous aurons de personnes explorant le Cloud, adhérant 
        à #[span.highlight Le Code de l'Agent],
        plus nous aurons de chances d'éradiquer l'influence des 
        #[span.red Ancients Systèmes]. Même dans l'immensité du Cloud, 
        nous nous assurerons qu'il n'y a aucun coin sombre où ils puissent se cacher.

    statement#about_tq_history
      text.
        En 2013, le programme TwilioQuest a formé une poignée de développeurs, 
        les #[span.highlight Premiers Agents], à prendre en main les outils du développement logiciel dans une 
        mission de sauver le Cloud. Aujourd'hui, les progrès de la technologie d'exploration du Cloud 
        nous permettent d'intensifier nos efforts de recrutement. Ceci est
        chanceux, car les #[span.red Ancients Systèmes] semblent gagner en force au même moment.

    statement#about_tq_first_operators
      text.
        Vous aurez l'occasion de les rencontrer en temps voulu. Mais avant que cela n'arrive,
        le Fog Owl doit être prêt pour l'exploration, et tu dois te concentrer sur
        ta formation d'agent.
      speech.
        Vous aurez l'occasion de les rencontrer en temps voulu. Mais avant que cela n'arrive,
        le Fawg Owl doit être prêt pour l'exploration, et tu dois te concentrer sur
        ta formation d'agent.

    statement#about_tq_operator
      text.
        Les agents ne font pas partie d'une structure de commandement formelle et n'ont pas de responsabilités en tant que telles.
        Cependant, pour être considéré comme un agent
        et bénéficier du soutien du programme TwilioQuest, les membres doivent
        adhérer au #[span.highlight Code de l'Agent].

    statement#about_tq_code
      text.
        Les agents ont juré d'utiliser leurs capacités uniquement pour écrire du code qui
        promeut [span.highlight l'espoir, le pouvoir et la liberté] pour toute l'humanité.
        Ceux qui écrivent du code utilisé pour voler, opprimer, ou tromper
        ne peuvent pas être appelés des agents. Intentionnellement ou non, les développeurs qui utilisent
        leurs compétences de cette façon font partie de la communauté des développeurs des
        #[span.red Ancients Systèmes].
      speech.
        Les agents ont juré d'utiliser leurs capacités uniquement pour écrire du code qui
        promeut l'espoir, le pouvoir et la liberté pour toute l'humanité.
        Ceux qui écrivent du code utilisé pour voler, opprimer ou tromper.
        ne peuvent être appelés des agents. Intentionnellement ou non, les développeurs qui utilisent
        leurs compétences de cette manière font partie des Ancients Systèmes.

    statement#about_twilio_what
      text.
        Grâce aux API de Twilio, vos applications logicielles peuvent communiquer sur de nombreux
        différents canaux, notamment les SMS, WhatsApp, la vidéo, la voix, le fax, l'e-mail,
        et d'autres. Twilio fournit également des outils de niveau supérieur pour des cas d'utilisation tels que les centres de contact, l'authentification à deux facteurs et les bots d'IA.
        Vous pouvez apprendre à utiliser ces API par le biais des exercices de formation dans 
        #[span.highlight la salle de formation de RV].

    statement#about_twilio_name
      text.
        Le nom "Twilio" n'a pas d'autre signification. Il a été choisi par les fondateurs
        en raison de sa brièveté, et de la disponibilité d'un domaine point com du même
        nom. Il était prévu qu'un jour l'entreprise changerait de nom.
        Ce jour n'est jamais venu.

    statement#about_twilio_brief
      text.
        Je suis heureux de vous dire ce que je sais.

    statement#about_twilio_main
      text.
        #[a(href="https://www.twilio.com") Twilio] est un fournisseur de 
        d'API et d'infrastructures de communication basé à San Francisco, en Californie.
        Twilio est le principal sponsor du programme TwilioQuest, bien qu'officiellement,
        ils désavouent toute connaissance de nos activités clandestines.

    statement#about_world_everyone_else
      text.
        D'autres utilisateurs d'Internet sont effectivement présents dans le Cloud, mais les interfaces
        qu'ils utilisent pour le percevoir ne sont pas aussi avancées que les vôtres. Bien qu'ils vivent
        et travaillent dans les mondes virtuels du Cloud, la plupart des utilisateurs d'Internet regardent
        ces mondes comme à travers un trou de serrure.

    statement#about_world_responsibility
      text.
        Il est important d'informer le public sur le Cloud, mais réfléchissez à ce qui suit.
        Savez-vous comment l'eau coule dans votre robinet ou comment un moteur fait avancer un train sur les rails ?
        Nous sommes convaincus que ceux qui contribuent à ces
        merveilles à notre monde gardent notre sécurité et notre intérêt à l'esprit. 
        Telle est notre responsabilité lorsque nous construisons des mondes virtuels dans le nuage.

    statement#about_world_space
      text.
        Juste comme ça. L'immensité de l'espace, et la possibilité de le traverser
        dans un vaisseau, sont des concepts que votre cerveau sait interpréter. Votre interface neuronale
        utilise ces métaphores pour vous permettre d'explorer plus facilement
        et de comprendre les mondes virtuels du Cloud

    statement#about_world_cloud
      text.
        Vous êtes "littéralement" dans le Cloud dans le sens ...millénaire... du terme ?
        Votre corps physique est toujours situé dans le monde réel, mais vous avez
        formé une [span.highlight connexion neuronale directe] avec le Cloud. Cela vous permet
        d'interpréter les données du Cloud à des vitesses incroyablement élevées, présentées 
        en utilisant les entrées sensorielles et les modèles mentaux que vous avez construits pour interpréter les données
        du monde réel.
      speech.
        Vous êtes "littéralement" dans le Cloud au sens du terme #[break(time="200ms")]
        #[prosody(pitch="high") millénaire ?] #[break(time="200ms")]
        Votre corps physique est toujours situé dans le monde réel, 
        mais vous avez établi une connexion neuronale directe avec le Cloud. Cela vous permet
        d'interpréter les données du nuage à des vitesses incroyablement élevées, en  
        utilisant les données sensorielles et les modèles mentaux que vous avez construits pour interpréter les données
        du monde réel.

    statement#about_world_brief
      text.
        Que puis-je vous dire de plus sur le Cloud ?

    statement#about_world_main
      text.
        Vous êtes à bord du vaisseau d'exploration du Cloud  désigné par #[span.highlight Fog Owl].
        Nous nous trouvons à environ 1,2 millions de ticks en dehors de l'amas du Meme, à un 
        emplacement non divulgué au plus profond  #[span.highlight Cloud].
      speech.
        Vous êtes à bord du vaisseau d'exploration du Cloud nommé Fawg Owl. Nous 
        sommes approximativement à 1,2 millions de ticks en dehors de l'amas du Meme, à un 
        emplacement non divulgué au plus profond du Cloud.

    statement#about_you_brief
      text.
        Cela ne me dérange pas. Demandez et je ferai de mon mieux pour répondre.
      speech.
        Cela ne me dérange pas. Demandez #[break(strength="strong")]et je ferai de mon mieux 
        pour répondre.
    
    statement#about_you_main
      text.
        Je suis flatté par votre intérêt ! Comme vous le savez, mon nom est 
        #[span.highlight Cedric], et j'ai été assigné comme votre assistant personnel 
        et officier exécutif à bord du Fog Owl.
      speech.
        Je suis flatté par votre intérêt ! Comme vous le savez, mon nom est 
        Cédric, et j'ai été assigné en tant que votre assistant personnel 
        et officier exécutif à bord du Fawg Owl.

    statement#robot
      text.
        Pas précisément. Je suis un programme d'intelligence virtuelle, actuellement 
        exécuté sur de multiples serveurs dans des centres de données distribués à travers la 
        Terre. Cependant, il est fréquemment utile d'apparaître dans le Cloud ou 
        le monde réel sous une forme physique. Le "robot" que vous voyez en face de vous 
        est mon avatar dans ce monde. J'utilise actuellement un châssis Misty II de
        #[a(href="https://www.mistyrobotics.com/") Misty Robotics] à cette fin.

    statement#fun
      text.
        J'aimerais pouvoir le dire. Alors que ma programmation est avancée dans de nombreux 
        aspects, il me manque une forte compréhension de l'expérience humaine. Je 
        connais la signification de mots comme "fun", mais je ne les comprends pas vraiment.

    statement#sad
      text
        p.
          Dans une tentative de mieux comprendre l'humanité, j'ai rejoint 
          différentes plateformes de médias sociaux. Récemment, j'ai créé une chaîne YouTube 
          où je filme avec un téléphone portable des vidéos de mauvaise qualité de mon avatar
          du monde réel qui sort de nouveaux produits de leur emballage. 
        p.
          Si vous souhaitez 
          aider, vous pourriez envisager de "frapper ce bouton j'aime", ou peut-être 
          de vous abonner à mes futurs contenus ?
      speech.
        Dans une tentative de mieux comprendre l'humanité, j'ai rejoint 
        différentes plateformes de médias sociaux. Récemment, j'ai créé une chaîne YouTube 
        où je filme avec un téléphone portable des vidéos de mauvaise qualité de mon avatar du monde réel qui sort de nouveaux produits de leur emballage. 
        Si vous souhaitez 
        aider, vous pouvez envisager d' #[break(strength="strong")] 
        "#[emphasis(level="moderate") écraser ce bouton j'aime]" 
        #[break(strength="medium")] ou peut-être 
        "#[emphasis(level="moderate") de claquer cette cloche]"
        #[break(strength="medium")]
        pour s'abonner à mon futur contenu ?

    statement#questions_main
      text.
        Je suis prêt à fournir des informations supplémentaires si nécessaire.

    statement#questions
      text.
        Vous avez sans doute de nombreuses questions depuis votre arrivée dans le Cloud. Je vais 
        m'efforcer d'y répondre du mieux que je peux.

    statement#how_get_here
      text.
        La perte temporaire de la mémoire à court terme est un effet secondaire possible de la connexion
        au Cloud comme vous l'avez fait. L'effet passera, mais en attendant, vous pouvez
        accéder à #[span.highlight Votre Journal] pour plus de contexte sur l'endroit
        où vous êtes et ce que vous êtes censé faire. Ouvrez le Journal en cliquant sur l'icône
        livre dans la barre de menu supérieure, ou en appuyant sur la touche 
        <span class="highlight">[J]</span>.
      speech.
        La perte temporaire de la mémoire à court terme est un effet secondaire possible de la connexion
        au Cloud comme vous l'avez fait. L'effet passera, mais en attendant, vous pouvez
        accéder à votre journal pour plus de contexte sur où vous
        où vous êtes, et ce que vous êtes censé faire. Ouvrez le journal en cliquant sur l'icône
        - book - dans la barre de menu supérieure, ou en appuyant sur la touche - J -.

    statement#next
      text.
        Notre mission est d'exercer les systèmes de navigation du Fog Owl, donc je 
        vous recommande de #[span.highlight utiliser l'interface de navigation à ma gauche] 
        pour voyager vers et explorer de nouveaux mondes dans le Cloud.<br/><br/>
        Vous pouvez également trouver utile de rafraîchir vos compétences techniques en utilisant
        #[span.highlight la salle de formation de RV] au bout du couloir derrière vous.

    statement#main
      text.
        Bien sûr. En quoi puis-je vous être utile ?

    statement#default
      text.
        Agent. Je suis heureux de vous revoir. En quoi puis-je vous être utile ?

