mixin dossier
  response#dossier.
    [checks service records] Il est écrit que vous êtes connu sous le surnom de " Ouragan " ?

mixin defensive_systems
  response#defensive_systems.
    Le Fog Owl a-t-il des capacités défensives ?

mixin about
  response#about.
    Pouvez-vous me rappeler qui vous êtes, et ce que vous faites sur le vaisseau ?

conversation(display_name="Corey")
  case lastResponse
    when "dossier"
      statement#dossier
      responses
        +defensive_systems

    when "defensive_systems"
      statement#defensive_systems
      responses
        +about

    when "about"
      statement#about
      responses
        +dossier
        +defensive_systems

    default
      statement#default
      responses
        +about

  statements
    statement#dossier
      text.
        C'est tout à fait exact. Ça a en quelque sorte émergé du chat de Twitch, et c'est
        ça a collé. Vous devriez <a href="https://www.twitch.tv/cldubya">surfer sur le flux un jour</a>.
        Le chat peut vous renseigner sur les détails.

    statement#defensive_systems
      text.
        En théorie, oui. En réalité, pas vraiment. Nos boucliers de navigation 
        fonctionnent normalement, mais nos boucliers déflecteurs et nos systèmes d'armes sont 
        complètement déconnectés. Je travaille avec Ryan et les ingénieurs de la base
        pour patcher ces systèmes, mais je n'ai pas de délai pour ce travail.<br/><br/>
        Essayez de ne pas créer de problèmes avant, d'accord ?

    statement#about
      text.
        Je suis Corey, officier de sécurité et de tactique à bord du Fog Owl. Si
        il y a des problèmes, c'est là que je vais travailler. Avec un peu de chance, je n'irai pas
        au travail si souvent.

    statement#default
      text.
        Agent, c'est toujours un plaisir. Que puis-je faire pour vous ?
