mixin dossier
  response#dossier.
    [checks service records] Vous n'êtes pas étranger à la formation des développeurs, mais il semble que vous ayez également passé du temps dans le Peace Corps ?

mixin about
  response#about.
    Pouvez-vous me rappeler qui vous êtes, et ce que vous faites sur le vaisseau ?

mixin whats_this
  response#whats_this.
    A quoi sert cette partie du navire ?

conversation(display_name="Craig")
  case lastResponse
    when "dossier"
      statement#dossier
      responses
        +whats_this

    when "about"
      statement#about
      responses
        +dossier

    when "whats_this"
      statement#whats_this
      responses
        +about

    default
      statement#default
      responses
        +whats_this
        +about

  statements
    statement#dossier
      text.
        C'est vrai ! J'ai passé du temps dans le Corps de la Paix à enseigner l'informatique 
        en Guyane. C'est incroyable à quel point la technologie a progressé depuis.
        Cela aurait été beaucoup plus facile avec une interface neuronale directe au 
        Cloud, ça c'est sûr.

    statement#whats_this
      text.
        Voici la dernière technologie éducative du programme TwilioQuest.
        Il s'agit d'un simulateur de formation en réalité virtuelle ! Pour l'utiliser, approchez-vous de la borne 
        et appuyez sur la <span class="highlight">barre d'espace</span>. Vous devriez voir 
        une liste des simulations de formation disponibles où vous pouvez développer vos 
        de programmation. Choisissez-en une, et commencez à explorer !<br/><br/>Vous devez également noter que 
        que nous ajoutons de nouvelles missions de formation en permanence et que vous devez donc revenir fréquemment sur le site.

    statement#about
      text.
        Bien sûr ! Je m'appelle Craig. Je suis un développeur, et je suis aussi le responsable de la formation 
        officier de formation ici à bord du Fog Owl. <br/><br/>J'aide à construire des simulations pour 
        notre plateforme de formation en réalité virtuelle, pour vous préparer à tout 
        problèmes de piratage imprévus que vous pourriez rencontrer dans le Cloud.

    statement#default
      text.
        Eh bien, salut, agent ! C'est un grand jour pour apprendre quelque chose de nouveau, vous ne trouvez pas ?
