mixin dossier
  response#dossier.
    [checks service records] Être l'ingénieur en chef d'un vaisseau d'exploration du Cloud semble être un pas en arrière par rapport à être un prononciateur de concours d'orthographe.

mixin what_this
  response#what_this.
    C'est quoi cette zone du vaisseau ?

mixin about
  response#about.
    Pouvez-vous me rappeler qui vous êtes, et ce que vous faites sur le vaisseau ?

conversation(display_name="Marcus")
  case lastResponse
    when "dossier"
      statement#dossier
      responses
        +what_this

    when "what_this"
      statement#what_this
      responses
        +about

    when "about"
      statement#about
      responses
        +dossier

    default
      statement#default
      responses
        +what_this
        +about

  statements
    statement#what_this
      text.
        C'est le pont d'ingénierie, où nous nous occupons du cœur battant du Fog Owl. 
        le Fog Owl - un <span class="highlight">mécanisme de transmission de paquets</span> de pointe. Les systèmes d'entraînement 
        propulsent des grappes d'agents connectés au Cloud à des vitesses incroyables entre des mondes virtuels. 
        entre les mondes virtuels.<br/><br/>C'est la technologie qui, selon nous, va
        nous permettra enfin de garder une longueur d'avance sur les Anciens Systèmes.
    
    statement#dossier
      text.
        Ah, ils ont mis ça là-dedans, n'est-ce pas ? En plus de mes compétences techniques 
        techniques, je suis fier de mon excellente diction. Et connaître l'origine des mots 
        est plus utile que vous ne le pensez.

    statement#about
      text.
        C'est sûr. Marcus, ingénieur en chef à bord du Fog Owl. Je m'assure que notre 
        oiseau continue de chanter, et en ce moment c'est un bel air. Je vous ferais savoir 
        tout de suite si un de nos systèmes commence à faire des siennes.

    statement#default
      text.
        Agent. Les systèmes sont verts sur toute la ligne - tout va bien ici.
