mixin dossier
  response#dossier.
    [checks service records] Oh waouh, on dirait que vous aviez de la famille dans l'armée de l'air ?

mixin traffic
  response#traffic.
    Y a-t-il des dangers pour la navigation dont je devrais être conscient ?

mixin about
  response#about.
    Pouvez-vous me rappeler qui vous êtes, et ce que vous faites sur le vaisseau ?

conversation(display_name="Megan")
  case lastResponse
    when "dossier"
      statement#dossier
      responses
        +traffic

    when "about"
      statement#about
      responses
        +dossier

    when "traffic"
      statement#traffic
      responses
        +about

    default
      statement#default
      responses
        +traffic
        +about

  statements
    statement#dossier
      text.
        En tant que fille d'un officier du 914ème aéroport, je me sens obligée de vous dire... 
        vous dire - "Le ciel est sans limites". <br/><br/>Même si, soyons honnêtes, ma 
        voiture est beaucoup plus cool que n'importe quel tas de ferraille de l'armée de l'air.
    
    statement#traffic
      text.
        Quelques-uns, mais rien que je ne puisse gérer. Une fois que vous avez survécu à la conduite à Los Angeles,
        les comètes à bits tueurs et les portes logiques étroites deviennent beaucoup moins intimidantes.

    statement#about
      text.
        Tu parles. Je suis Megan, et j'ai le privilège de servir en tant que 
        pilote du Fog Owl. Et je dois dire que le vaisseau se manie comme un rêve.

    statement#default
      text.
        Quoi de neuf, agent ? Quel cap dois-je définir ?
