mixin dossier
  response#dossier.
    [checks service records]J'ai cru comprendre que vous étiez également un enfant acteur ?

mixin about
  response#about.
    Pouvez-vous me rappeler qui vous êtes, et ce que vous faites sur le vaisseau ?

mixin whats_this
  response#whats_this.
    Quelle est cette plateforme derrière vous ?

conversation(display_name="Mica")
  case lastResponse
    when "dossier"
      statement#dossier
      responses
        +whats_this

    when "about"
      statement#about
      responses
        +dossier

    when "whats_this"
      statement#whats_this
      responses
        +about

    default
      statement#default
      responses
        +whats_this
        +about

  statements
    statement#dossier
      text.
        Comment c'est arrivé là ? ! C'est vrai, mais ma carrière était courte et n'a pas été 
        si réussie que ça. Mon rôle le plus célèbre était celui d'un fruit anthropomorphe.
        J'ai fait une chanson mémorable et un numéro de danse pour faire comprendre aux enfants 
        l'importance de manger cinq portions de fruits et légumes par jour.<br/><br/>
        Donc, si vous êtes un jour en mission et que vous avez besoin de quelqu'un pour prétendre être 
        une pomme, je vous couvre.
    
    statement#whats_this
      text.
        C'est la <span class="highlight">carte de navigation</span>. Vous pouvez utiliser la 
        carte de navigation pour vous rendre à une destination dans le Cloud. Nous avons mis en évidence quelques 
        points importants de la carte qui, selon nous, méritent votre attention. Nous vous conseillons de 
        visiter ces endroits dès que vous en avez le temps.

    statement#about
      text.
        Oh, bien sûr - je suis Mica, votre officier de communication à bord du Fog Owl. Sur 
        en plus de parler couramment plusieurs langues, je peux vous aider à gérer 
        des négociations sensibles ou résoudre des conflits avec quiconque nous rencontrons 
        pendant que nous explorons le Cloud. 

    statement#default
      text.
        Hé, agent ! Où allons-nous aujourd'hui ?
